@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
    --primary: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 24%);
    --darkBlue: hsl(213, 19%, 18%);
    --darkBlueone: hsl(214, 20%, 23%);
    --veryDarkBlue: hsl(216, 12%, 8%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Overpass";
    font-weight: 500;
    height: 100vh;
    background-color: var(--veryDarkBlue);
    
    padding: auto;
    margin:auto;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.attribution{
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--lightGrey);
}
.attribution a{
    text-decoration: none;
}

.card, .second-card {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(180deg, var(--darkBlueone), var(--darkBlue));
    height: 330px;
    width: 390px;
}

.start {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: var(--mediumGrey);
    display: flex;
    align-items: center;
    justify-content: center;

}

h2 {
    color: var(--white);
    font-weight: 700;
    margin-bottom: 15px;
}

p {
    font-size: 15px;
    color: var(--lightGrey);
    letter-spacing: -0.5px;
    font-weight: 500;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.number {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    background-color: var(--mediumGrey);
    font-weight: 400;
    color: var(--lightGrey);
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.number:hover {
    background-color: var(--lightGrey);
    color: var(--white);
    transition-duration: 200ms;
    
    transition: background-color 100ms ease-in, color 100ms ease-in;
}

.number:focus {
    background-color: var(--primary);
    color: var(--white);
    transition-duration: 200ms;
    transition: background-color 100ms ease-in, color 100ms ease-in;
}

.submit {
    background-color: var(--primary);
    color: var(--white);
    border: 0;
    border-radius: 40px;
    width: 100%;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;

}

.submit:hover {
    background-color: var(--white);
    color: var(--primary);
}

.second-card {
    display: none;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 150px;
    margin-bottom: 24px;
}

.result {
    background-color: var(--mediumGrey);
    width: 170px;
    height: 36px;
    border-radius: 40px;
    color: var(--primary);
    text-align: center;
    padding: 8px 0;
    margin-bottom: 30px;
    font-size: 0.9em;
}

.second-card-description {
    text-align: center;
}

/*Desktop*/
@media (min-width:600px) {
    .card, .second-card {
        height: 410px;
        width: 410px;
        margin: 35px;
        padding: 35px;
    }

    .start {
        width: 50px;
        height: 50px;
        margin-bottom: 35px;
    }

    h2 {
        margin-bottom: 15px;
        font-size: 1.9em;
    }

    .number {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .submit {
        height: 50px;
        margin-bottom: 0;
    }

    .result {
        font-size: 1em;
        width: 196px;
        padding: 8px 0;
    }
}